<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Simple - Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Simple Chat App" />
  <meta name="author" content="Simple Chat App" />
  <link rel="dns-prefetch" href="//cdn.tailwindcss.com" />
  <link rel="dnf-prefetch" href="//cdn.jsdelivr.net" />
  <link rel="icon" type="image/svg+xml" href={{template "logo" .}} />
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <style>
    [x-cloak] {
      display: none;
    }
  </style>
</head>

<body class="bg-indigo-50">
  <main>{{ template "content" . }}</main>
</body>

</html>

<!-- Logo data -->
{{define "logo"}}
"/assets/images/logo.svg"
{{end}}
