<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ template "title" . }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="dns-prefetch" href="//cdn.tailwindcss.com" />
  <link rel="dnf-prefetch" href="//cdn.jsdelivr.net" />
  <link rel="preload" href="https://cdn.tailwindcss.com" as="script" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {{ block "header" . }}{{ end }}
</head>

<body>
  {{ template "content" . }}
</body>

</html>
