{{define "content"}}
<!-- Login Page -->
<section class="h-full">
  <script>
    const login_page = {
      login: true,
      error: false,
      title() {
        sessionStorage.setItem("login", this.login);
        document.title = `${this.login ? "Login" : "Sign Up"} | ${document.title}`;
      },
      get_state() {
        data = sessionStorage.getItem("login");
        if (!data) return;
        this.login = data === "true";
      },
      error_message(error) {
        this.error = true;
        this.$refs.error_msg.innerText = error.message;
        setTimeout(() => {
          this.error = false;
        }, 5000);
      },
      async hash_data(value) {
        const encoder = new TextEncoder();
        const data = encoder.encode(value);
        const hash_buff = await crypto.subtle.digest("SHA-256", data);
        return Array.from(new Uint8Array(hash_buff))
          .map(byte => byte.toString(16).padStart(2, "0"))
          .join("");
      },
      async forn_submit() {
        let formData = new FormData(this.$el);
        const password = formData.get("password");
        if (password) formData.set("password", await this.hash_data(password))
        const c_password = formData.get("confirm-password");
        if (c_password) formData.set("confirm-password", await this.hash_data(c_password))
        console.log(formData)
        try {
          let response = await fetch(this.login ? "/login" : "/signup", {
            method: "POST",
            body: formData,
          });
          if (!response.ok) throw new Error(await response.text());
          const json_data = response.headers.get("X-Auth-Token");
          const {token, route} = JSON.parse(json_data);
          if (!token || !route)
            throw new Error("Login failed with no data or route");
          sessionStorage.setItem("token", token);
          window.location.href = route;
          sessionStorage.setItem("login", !this.login ? "true" : this.login);
        } catch (error) {
          this.error_message(error);
        }
      },
    };
  </script>
  <div x-data="login_page" x-init="get_state(); title();" @notify="title"
    class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <!-- Login Form div -->
    <div
      class="mt-20 sm:mx-auto sm:w-full sm:max-w-sm p-6 rounded-lg border-2 border-indigo-400 bg-white scale-110 shadow-2xl"
      x-cloak>
      <!-- Login Form Header -->
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" alt="Simple-Chat App Logo" src={{template "logo" .}} />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 mb-10"
          x-text="login ? 'Login in to your account' : 'Sign up for a new account'"></h2>
      </div>

      <!-- Error box -->
      <div class="mb-6 bg-red-100 border-l-4 border-red-500 p-4" x-show="error">
        <span class="text-black text-sm/6" x-ref="error_msg"></span>
      </div>

      <!-- Login/signup Form -->
      <form class="space-y-6" @submit.prevent="forn_submit">
        <!-- Login form input field -->
        <template x-if="login">
          <template x-for="field in [
          {name:'username', label:'Username', complete:'username', type:'text', placeholder:'eg. user_name_123'},
          {name:'password', label:'Password', complete:'current-password', type:'password', placeholder:'eg. xxxxxxxx'},
          ]">
            {{template "input" .}}
          </template>
        </template>

        <!-- Signup form input field -->
        <template x-if="!login">
          <template x-for="field in [
            {name:'username', label:'Username', complete:'username', type:'text', placeholder:'eg. user_name_123'},
            {name:'email', label:'Email', complete:'email', type:'text', placeholder:'eg. user@email.com'},
            {name:'password', label:'Password', complete:'new-password', type:'password', placeholder:'eg. xxxxxxxx'},
            {name:'confirm-password', label:'Confirm Password', complete:'new-password', type:'password', placeholder:'eg. xxxxxxxx'},
          ]">
            {{template "input" .}}
          </template>
        </template>

        <!-- Login/signup Button -->
        <button x-text="login ? 'Login' : 'Sign Up'" type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"></button>
      </form>

      <!-- Signup/Login Link -->
      <p class="mt-10 text-center text-sm/6 text-gray-500">
        <span x-text="login ? 'Are you a new user? then' : 'Already a user? then'"></span>
        <a @click="login ? login = false : login = true; $dispatch('notify')"
          class="font-semibold text-indigo-600 hover:text-indigo-500" x-text="login ? 'Sign up' : 'Login'"></a>
        here!
      </p>
    </div>
  </div>
</section>
{{end}}

<!-- Input Field Component -->
{{define "input"}}
<div class="space-y-1 mb-4" x-data="{ disable: false }">
  <label :for="field.name" class="block text-sm/6 font-medium text-gray-900" x-text="field.label"></label>
  <input
    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-500 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border-2 border-indigo-100 focus:border-transparent"
    :type="field.type" :name="field.name" :id="field.name" :autocomplete="field.complete"
    :placeholder="field.placeholder" required />
</div>
{{end}}
